* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* typography */

.title {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.indented-heading {
  font-size: 1.5rem;
  width: fit-content;
  padding-inline: 32px;
  padding-block: 16px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -34px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}


/* layout */

header {
  padding-top: 96px;
  padding-bottom: 64px;
  padding-inline: 8px;
}

main {
  padding-block: 72px;
  border-top: 7px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 40%);
}

.card {
  background-color: white;
  padding-block: 0.15px 24px;
  padding-inline: 8px;
  border-bottom:  7px solid hsl(0deg, 0%, 60%);
}


/* utils */

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}